{%extends 'layouts/default.html' %}

{%block content%}

<h1 id="accounts-title" class="text-5xl text-primary font-bold pt-5">Accounts</h1>


<div class="flex flex-row flex-wrap gap-5 mt-4 w-full">
    {%for account in accounts%}
    <div class="min-w-1/4 border-1 border-secondary rounded-2xl p-3 flex flex-col items-left hover:bg-secondary hover:text-white transition-all duration-300">
        <h2>{{account.name}}</h2>
        <span class="text-3xl font-bold mt-3">{{account.currency}} {{account.init_amount}}</span>
    </div>
    {%endfor%}
    <div>
        <button class="border-1 btn btn-outline btn-accent rounded-2xl h-full text-base transition-all duration-300"
        hx-get="{% url 'accounts:new_account' %}" hx-target="#content"
        hx-swap="beforebegin">Create Account</button>
    </div>
</div>

<h1 class="text-5xl text-primary font-bold mt-5">Transactions</h1>


{%endblock%}