{%extends 'layouts/default.html' %}

{%block content%}
<div class="flex flex-row flex-wrap gap-5 mt-5">
    {%for sum in sums%}
    <div class="w-1/4 border-1 border-secondary rounded-2xl p-3 flex flex-col items-left hover:bg-accent hover:border-accent hover:text-white transition-all duration-300">
        <h1>Total Balance</h1>
        <span class="text-3xl font-bold mt-3">{{sum.currency}} {{sum.sum}}</span>
    </div>
    {%endfor%}
</div>


<h1 id="accounts-title" class="text-5xl text-primary font-bold pt-5">Accounts</h1>


<div class="flex flex-row flex-wrap gap-5 mt-4 w-full">
    {%for account in accounts%}
    <div class="w-1/4 border-1 border-secondary rounded-2xl p-3 flex flex-col items-left hover:bg-secondary hover:text-white transition-all duration-300 group">
        <div class="flex flex-row justify-between">
            <h2>{{account.name}}</h2>
            <button hx-get="{%url 'accounts:edit_account' user.id account.id%}" hx-target="#content"
            hx-swap="beforebegin" class="text-white invisible group-hover:visible">
                <svg class="w-5 rounded-4xl hover:bg-white hover:fill-black cursor-pointer transition-all duration-300" fill="#FFFFFF" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><path d="M320 208C289.1 208 264 182.9 264 152C264 121.1 289.1 96 320 96C350.9 96 376 121.1 376 152C376 182.9 350.9 208 320 208zM320 432C350.9 432 376 457.1 376 488C376 518.9 350.9 544 320 544C289.1 544 264 518.9 264 488C264 457.1 289.1 432 320 432zM376 320C376 350.9 350.9 376 320 376C289.1 376 264 350.9 264 320C264 289.1 289.1 264 320 264C350.9 264 376 289.1 376 320z"/></svg>
            </button>
        </div>
        <span class="text-3xl font-bold mt-3">{{account.currency}} {{account.init_amount}}</span>
    </div>

    {%endfor%}
    <div>
        <button class="border-1 btn btn-outline btn-accent rounded-2xl h-full text-base transition-all duration-300 hover:text-white"
        hx-get="{% url 'accounts:new_account' %}" hx-target="#content"
        hx-swap="beforebegin">Create Account</button>
    </div>

</div>

<h1 class="text-5xl text-primary font-bold mt-5">Records</h1>

<div class="overflow-x-auto">
  <table class="table">
    <!-- head -->
    <thead>
      <tr>
        <th>Date</th>
        <th>Category</th>
        <th>Amount</th>
        <th>Account</th>
      </tr>
    </thead>
    <tbody>
      <tr class="hover:bg-base-300">
        <th>2</th>
        <td>Hart Hagerty</td>
        <td>Desktop Support Technician</td>
        <td>Purple</td>
      </tr>
    </tbody>
  </table>
</div>


{%endblock%}