<div id="new_record" class="bg-gray-600/50 w-full h-screen fixed grid place-content-center" hx-on:click='document.getElementById("new_record").remove()'>
    <div class="w-lg" hx-on:click="event.stopPropagation()">
        <div class="flex flex-col shadow-xl p-5 rounded-2xl bg-white z-99">
            <h1 class="text-3xl text-primary font-bold">New Record</h1>
            <form action="#" method="post">
            {% csrf_token %}
            {%for field in form%}
            <div class="mt-3 font-bold text-xl">{{field.label_tag}}</div>
            <div class="mt-3 w-full">{{field}}</div>
            {%endfor%}

            <button class="btn btn-primary mt-3 rounded-3xl px-4 h-12 w-full cursor-pointer transition-all duration-300 ease-in-out">Add</button>
            </form>
        </div>
    </div>
</div>