<!DOCTYPE html>
<html lang="en" data-theme="winter">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="{% static 'scripts/app.js' %}"></script>
    <link rel="stylesheet" href="{%static 'styles/style.css'%}">
    <title>Budget</title>
</head>
<body>
    <header class="shadow-md w-full fixed top-0 left-0 bg-white">
        <nav class=" text-secondary h-16 flex flex-row items-center gap-5 mx-5">
            {%if user.is_authenticated%}
            <span>Hi {{user.username}}!</span>
            <a href="{%url 'accounts:accounts'%}">Accounts</a>
            <a href="{%url 'sessions:logout'%}">Logout</a>
            {%else%}
            <a href="{%url 'users:register'%}">Register</a>
            <a href="{%url 'sessions:new'%}">Login</a>
            {%endif%}
        </nav>
    </header>

    <div id="content" class="mx-5 pt-16">
    {% block content %} {% endblock %}
    </div>
</body>
</html>